@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
:root {
  --font-family: 'Montserrat', 'Open Sans', 'Poppin', 'Helvetica', 'Arial',
    'sans-serif';
  /* //////////colors/////////// */

  /* // */
  --color-backhround-light: #ffffff;
  /* // */
  --color-primary1: #425a58;
  --color-primary2: #1bada1;
  --color-primary3: #09c0b0;
  --color-primary4: #00c8b6;
  --color-primary5: #00ebd6;
  --color-primary6: #c2fffa;
  --color-primary7: #e4fffd;
  /* // */
  --color-secondary1: #c77800;
  --color-secondary2: #ffa726;
  --color-secondary3: #ffd95b;
  --color-secondary4: #fff177;
  /* // */
  --color-gray1: #1e1e1f;
  --color-gray2: #282828;
  --color-gray3: #3d3d3d;
  --color-gray4: #414244;
  --color-gray5: #505050;
  --color-gray6: #595959;
  --color-gray7: #707070;
  --color-gray8: #838383;
  --color-gray9: #8b9199;
  --color-gray10: #b1b1b1;
  --color-gray11: #c0c6d0;
  --color-gray12: #dde2eb;
  --color-gray13: #f5f8fc;
  /* // */
  --color-success1: #3db770;
  --color-success2: #d2ffe5;
  --color-fail1: #e4b8b8;
  --color-fail2: #fc8181;
  --color-fail3: #ffdede;
  /* // */
  --max-width-page: 1134px;
}
html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  font-family: var(--font-family);
  min-height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-weight: normal;
  font-size: inherit;
  border: none;
  background: transparent;
  color: inherit;
}
button,
fieldset,
input {
  all: unset;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
