:root {
  --font-family: 'Open Sans', 'Poppin', 'Helvetica', 'Arial', 'sans-serif';
  /* //////////colors/////////// */
  --color-background1-dark: #282828;
  --color-background2-dark: #3d3d3d;
  --color-background3-dark: #505050;
  --color-background4-dark: #595959;
  --color-background5-dark: #707070;
  --color-background6-dark: #838383;
  --color-background7-dark: #b1b1b1;
  /* // */
  --color-backhround-light: #ffffff;
  /* // */
  --color-primary1: #425a58;
  --color-primary2: #1bada1;
  --color-primary3: #09c0b0;
  --color-primary4: #00c8b6;
  --color-primary5: #c2fffa;
  --color-primary6: #e4fffd;
  /* // */
  --color-secondary1: #c77800;
  --color-secondary2: #ffa726;
  --color-secondary3: #ffd95b;
  --color-secondary4: #fff177;
  /* // */
  --color-gray1: #1e1e1f;
  --color-gray2: #414244;
  --color-gray3: #595959;
  --color-gray4: #8b9199;
  --color-gray5: #c0c6d0;
  --color-gray6: #dde2eb;
  --color-gray7: #f5f8fc;
  /* // */
  --color-success: #3db770;
  --color-success-light: #d2ffe5;
  --color-fail: #e4b8b8;
  --color-fail-dark: #fc8181;
  --color-fail-dark: #ffdede;
  /* // */
  --max-width-page: 1134px;
}
html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  font-family: var(--font-family);
  min-height: 100%;
  box-sizing: border-box;
  /* // scrollbar-width: none; */
  /* &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-gray4);
  } */
}
a {
  text-decoration: none;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  font-weight: normal;
  font-size: inherit;
  border: none;
  background: transparent;
  color: inherit;
}
